.section_container {
  min-height: calc(100dvh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section_container_alt {
  min-height: calc(100dvh - 80px);
}
