.article_container {
  /* border: 1px solid var(--primary-red-color); */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 40px;
  max-width: 900px;
}

.article_img {
  width: 250px;
  border: 3px solid var(--primary-red-color);
}

.about_text {
  font-size: 0.6rem;
  padding: 0 20px;
  font-style: italic;
}
.name {
  padding-top: 10px;
  color: var(--primary-red-color);
}

.job {
  font-size: 0.8rem;
}

@media screen and (min-width: 900px) {
  .about_text {
    font-size: 0.8rem;
    padding: 0 60px;
  }

  .isLeft {
    flex-direction: row;
  }

  .isRight {
    flex-direction: row-reverse;
  }
  .about_text {
    font-size: 0.8rem;
  }
}
