.profil_container {
  min-height: 400px;
  height: fit-content;
  width: 90vw;
  max-width: 1000px;
  text-align: center;
}

.logout_btn {
  margin: 40px 0;
}

.section_container {
  min-height: calc(100dvh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
