.footer_container {
  background-color: #913f3f;
  height: 100px;
  margin-top: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.6rem;
}
