.modal_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  min-width: 250px;
  max-width: 600px;
  width: 80vw;
  text-align: center;
  color: black;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_container button {
  margin: 10px 20px;
}
