.connexion_section {
  min-height: 400px;
  margin: 0 auto;
  width: 90vw;
  min-width: 220px;
  max-width: 600px;
  border-top: 5px solid var(--primary-red-color);
}

.connexion_header {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 5px solid var(--primary-red-color);
}
.connexion_header * {
  margin: 10px;
}

.connexion_line {
  background-color: var(--primary-red-color);
  width: 100%;
  height: 2px;
}

.connexion_content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid var(--primary-red-color);
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 285px) {
  .connexion_header * {
    margin: 0px;
  }
}
